<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeViewContact()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-label>Back</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <img
      src="https://res.cloudinary.com/instagram-web2/image/upload/v1604963821/wunderlist-clon-moviles/person_qbie2q.png">
    <div>
      <ion-title>
        {{userName}}
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>