<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeViewContact()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-label>Back</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button slot="end">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <img
      src="https://res.cloudinary.com/instagram-web2/image/upload/v1604963821/wunderlist-clon-moviles/person_qbie2q.png">
    <div>
      <ion-title>
        Gustavo Parra
      </ion-title>
      <ion-label>
        last seen just now
      </ion-label>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <div class="icons">
      <ion-icon name="call-outline"></ion-icon>
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-icon name="notifications-off-outline"></ion-icon>
      <ion-icon name="search-outline"></ion-icon>
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>mobile<br>+58 4246871962</ion-item>
    <ion-item>bio<br>Programmer</ion-item>
  </ion-list>
</ion-content>