.title {
    margin: 10px;
    padding: 12px;

    ion-label {
        color: gray;
    }
}

.inputs {
    margin-left: 100px;
}

.service-terms {
    text-align: left;
    margin-top: 490px;
    padding-left: 10px;
}