<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>New Message</ion-title>
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="closeModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar placeholder="Search"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>New Group</ion-item>
    <ion-item>New Contact</ion-item>
    <ion-item>New Channel</ion-item>
  </ion-list>
  <ion-list>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
    <ion-item>contact</ion-item>
  </ion-list>
</ion-content>