<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        Edit
      </ion-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search for messages or users"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-chat *ngFor="let chat of chats; let i = index" [chat]="otherUser[i]"></app-chat>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateChatModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>