<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="chats.length == 0" class="noChatsContainer">
    <img
      src="https://res.cloudinary.com/instagram-web2/image/upload/v1607716414/telegram-clon-moviles/home_q1ave5.ico">
    <p><b>Start chating with someone else by pressing + button.</b></p>
  </div>
  <ion-list>
    <app-chat *ngFor="let chat of chats; let i = index" [chat]="chat"></app-chat>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateChatModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>