<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="sendNumber()"><b>Next</b></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-title>Your Phone</ion-title>
    <div class="subtitle">
      <ion-label>Please confirm your contry code and enter your phone number.</ion-label>
    </div>
  </div>
  <ion-list>
    <ion-item>Venezuela</ion-item>
    <ion-item>
      <ion-label>+58</ion-label>
      <ion-input [(ngModel)]="number"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>