div {
    text-align: center;
    margin-top: 60px;
    padding: 20px;

    ion-title {
        font-weight: bold;
    }
}

.subtitle {
    margin-top: 20px;

    ion-label {
        color: gray;
    }
}
