<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeViewChat()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-label>Chats</ion-label>
      </ion-button>
    </ion-buttons>
    <div>
      <ion-title>{{userName}}</ion-title>
      <ion-label>{{isTyping}}</ion-label>
    </div>
    <ion-buttons slot="end">
      <img (click)="viewContact()"
        src="https://res.cloudinary.com/instagram-web2/image/upload/v1604963821/wunderlist-clon-moviles/person_qbie2q.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let message of messages">
      <ion-label [style]="id !== message.user ? 'text-align: left' : 'text-align: right'">{{message.message}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="attach-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-textarea [value]="sentMessage" placeholder="Message" (ionChange)="valueChange($event.detail.value)"></ion-textarea>
    <ion-buttons slot="primary">
      <ion-button (click)="onChangeMessage()">
        <ion-icon slot="end" name="arrow-up-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>